<table class="table-hover table table-custom">

    <tr>
        <td ng-show='isDoctor===false' ng-click='setOrdering("doctor")'>
            <h4 >
                <span ng-show='queryParams.ordering=="doctor"' class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                <span ng-show='queryParams.ordering=="-doctor"' class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                <b>Doctor</b>
            </h4>
        </td>
        <td ng-show='isDoctor===true' ng-click='setOrdering("patient")'>
            <h4>
                <span ng-show='queryParams.ordering=="patient"' class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                <span ng-show='queryParams.ordering=="-patient"' class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                <b>Patient</b>
            </h4>
        </td>
        <td ng-click='setOrdering("time")'>
            <h4>
                <span ng-show='queryParams.ordering=="time"' class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                <span ng-show='queryParams.ordering=="-time"' class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                <b>Time of Appointment</b>
            </h4>
        </td>
        <td ng-show='isDoctor===false' ng-click='setOrdering("state")'>
            <h4>
                <span ng-show='queryParams.ordering=="state"' class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                <span ng-show='queryParams.ordering=="-state"' class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                <b>Status</b>
            </h4>
        </td>
        <td ng-click='setOrdering("created")'>
            <h4>
                <span ng-show='queryParams.ordering=="created"' class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                <span ng-show='queryParams.ordering=="-created"' class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                <b>Requested</b>
            </h4>
        </td>
    </tr>

    <tr ng-repeat='appointment in appointmentsData.results' ng-show='fullTable'>
        <td ng-show='isDoctor===false'>Dr.
            {{ appointment.doctor.first_name + " "  + appointment.doctor.last_name}}</td>
        <td ng-show='isDoctor===true'>{{ appointment.patient.first_name + " "  + appointment.patient.last_name }}</td>
        <td ng-hide='displayRelative(appointment.time)'>{{ appointment.time | date : 'MMM d, y, h:mm a' }}</td>
        <td ng-show='displayRelative(appointment.time)' data-toggle="tooltip" title="{{ appointment.time | date : 'MMM d, y, h:mm a'}}">
            <span am-time-ago="appointment.time"></span>
        </td>
        <td ng-show='isDoctor===false' ng-class='{"bg-danger": appointment.state == "D", "bg-warning": appointment.state == "P", "bg-success": appointment.state == "A"}'>
            <div ng-hide='appointment.state=="D"'>{{getAppointmentStateName(appointment.state)}}</div>
            <div ng-show='appointment.state=="D"'>
              <button class='btn btn-sm btn-danger' ng-click='selectAppointment(appointment)'>Declined</button>
            </div>
        </td>
        <td ng-hide='displayRelative(appointment.created)'>{{ appointment.created | date : 'MMM d, y, h:mm a' }}</td>
        <td ng-show='displayRelative(appointment.created)' data-toggle="tooltip" title="{{ appointment.created | date : 'MMM d, y, h:mm a'}}">
            <span am-time-ago="appointment.created"></span>
        </td>

    </tr>

    <tr ng-hide='fullTable' class='bg-danger'>
        <td>Dr.
            {{ selectedAppointment.doctor.first_name + " "  + selectedAppointment.doctor.last_name}}</td>
        <td ng-hide='displayRelative(selectedAppointment.time)'>{{ selectedAppointment.time | date : 'MMM d, y, h:mm a' }}</td>
        <td ng-show='displayRelative(selectedAppointment.time)' data-toggle="tooltip" title="{{ selectedAppointment.time | date : 'MMM d, y, h:mm a'}}">
            <span am-time-ago="selectedAppointment.time"></span>
        </td>
        <td class='bg-danger'>
            <button class='btn btn-sm btn-danger' ng-click='clearAppointmentSelection()'>Declined</button>
        </td>
        <td ng-hide='displayRelative(selectedAppointment.created)'>{{ selectedAppointment.created | date : 'MMM d, y, h:mm a' }}</td>
        <td ng-show='displayRelative(selectedAppointment.created)' data-toggle="tooltip" title="{{ selectedAppointment.created | date : 'MMM d, y, h:mm a'}}">
            <span am-time-ago="selectedAppointment.created"></span>
        </td>
    </tr>

</table>

<div ng-hide='fullTable' class='well'>
  <form name='appointmentRescheduleForm' class='container'>
      <div class='form-group text-center col-sm-6'>
          <label>
              <h4>Choose new date</h4>
          </label>
          <div>
              <div style="display:inline-block; min-height:290px; margin:auto;">
                  <div uib-datepicker ng-required='true' ng-change='changed()' ng-model="date" class="well well-sm" datepicker-options="datepickerOptions"></div>
              </div>
          </div>
      </div>
      <div class='form-group text-center col-sm-6'>
          <label>
              <h4>Pick new time slot</h4>
          </label>
          <div>
              <div style="display:inline-block">
                  <div class='well well-sm' uib-timepicker ng-model="time" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="true"></div>
              </div>
          </div>
      </div>
      <hr />
  </form>
  <div class='container'>
    <div class='col-sm-6 col-sm-offset-3'>
      <button class='btn btn-lg btn-info btn-block' ng-click='submitAppointmentReschedule()' ng-disabled='appointmentRescheduleForm.$invalid'> Submit reschedule request </button>
    </div>
  </div>


</div>

<nav aria-label="..." ng-show='fullTable'>
    <ul class="pager">
        <li ng-click='flipPage(false)' ng-class='{disabled: appointmentsData.previous == null}'>
            <a>Previous</a>
        </li>
        <li class='disabled'>
            <a class='h4'>
                <b>Page
                    {{queryParams.page}}</b>
            </a>
        </li>
        <li ng-click='flipPage(true)' ng-class='{disabled: appointmentsData.next == null}'>
            <a>Next</a>
        </li>
    </ul>
</nav>
