<h1>Your appointments:</h1>
<table class="table-hover table table-custom">

    <tr>
        <td ng-hide='isDoctor' ng-click='setOrdering("doctor")'>
            <h4 >
                <span ng-show='queryParams.ordering=="doctor"' class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                <span ng-show='queryParams.ordering=="-doctor"' class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                <b>Doctor</b>
            </h4>
        </td>
        <td ng-show='isDoctor' ng-click='setOrdering("patient")'>
            <h4>
                <span ng-show='queryParams.ordering=="patient"' class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                <span ng-show='queryParams.ordering=="-patient"' class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                <b>Patient</b>
            </h4>
        </td>
        <td ng-click='setOrdering("time")'>
            <h4>
                <span ng-show='queryParams.ordering=="time"' class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                <span ng-show='queryParams.ordering=="-time"' class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                <b>Time of Appointment</b>
            </h4>
        </td>
        <td>
            <h4>
                <b>Status</b>
            </h4>
        </td>
        <td ng-click='setOrdering("created")'>
            <h4>
                <span ng-show='queryParams.ordering=="created"' class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                <span ng-show='queryParams.ordering=="-created"' class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                <b>Requested</b>
            </h4>
        </td>
    </tr>

    <tr ng-repeat='appointment in appointmentsData.results'>
        <td ng-hide='isDoctor'>Dr.
            {{ appointment.doctor.first_name + " "  + appointment.doctor.last_name}}</td>
        <td ng-show='isDoctor'>{{ appointment.patient.first_name + " "  + appointment.patient.last_name }}</td>
        <td ng-hide='displayRelative(appointment.time)'>{{ appointment.time | date : 'MMM d, y, h:mm a' }}</td>
        <td ng-show='displayRelative(appointment.time)' data-toggle="tooltip" title="{{ appointment.time | date : 'MMM d, y, h:mm a'}}">
            <span am-time-ago="appointment.time"></span>
        </td>
        <td ng-click='updateAppointment(appointment)'>{{getAppointmentStateName(appointment.state)}}</td>
        <td ng-hide='displayRelative(appointment.created)'>{{ appointment.created | date : 'MMM d, y, h:mm a' }}</td>
        <td ng-show='displayRelative(appointment.created)' data-toggle="tooltip" title="{{ appointment.created | date : 'MMM d, y, h:mm a'}}">
            <span am-time-ago="appointment.created"></span>
        </td>
    </tr>
</table>

<nav aria-label="...">
    <ul class="pager">
        <li ng-click='flipPage(false)' ng-class='{disabled: appointmentsData.previous == null}'>
            <a>Previous</a>
        </li>
        <li class='disabled'>
            <a class='h4'><b>Page
                {{queryParams.page}}</b></a>
        </li>
        <li ng-click='flipPage(true)' ng-class='{disabled: appointmentsData.next == null}'>
            <a>Next</a>
        </li>
    </ul>
</nav>
